body {
    background-image: url(/public/img/pattern.jpg);
}

.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 55px;
    margin-bottom: 0px;
}

header {
    background-color: whitesmoke;
    width: 100%;
}

.content hr {
    width: 850px;
}

.content a {
    text-decoration: none;
}

.content h1 {
    text-align: center;
    padding-top: 30px;
}

.content h3 {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.content p {
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}


.header {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
}

.logo {
    float: left;
}

.menu {
    margin-right: 25px;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    float: right;
    margin-top: 18px;
    margin-left: 16px;
}

footer {
    height: 90px;
    background-color: black;
    color: white;
    text-align: center;
}

footer h5 {
    padding-top: 40px;
}

/*CSS About.html */
.kotakcontact {
    background-color: whitesmoke;
    width: 800px;
    height: 445px;
    border: 5px ridge wheat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.kotakabout {
    background-color: whitesmoke;
    width: 800px;
    height: 200px;
    border: 5px ridge wheat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.kotak h1 {
    text-align: center;
}

.kotak li,
.formulir {
    padding-left: 40px;
}

/*akhir CSS About.html*/

/*CSS Contact.html */
.table {
    width: 700px;
}

/*reset*/
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*akhir reset*/

/*clear fix*/
.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*akhir clear fix*/